# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp
*.pth
*.jpg
*.png

# Ignore IDE specific settings (e.g., VSCode)
.vscode/
.idea/

